<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.sqisland.android.gcm_client.gcm"
      version="0.0.1">

    <name>Android GCM</name>
    <description>Cordova Android GCM Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,gcm</keywords>
    <repo>https://github.com/ZhichengChen/cordova-plugin-android-gcm.git</repo>
    <issue>https://github.com/ZhichengChen/cordova-plugin-android-gcm/issues</issue>

    <js-module src="www/gcm.js" name="Gcm">
        <clobbers target="plugin.gcm" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Gcm">
                <param name="android-package" value="com.sqisland.android.gcm_client.Gcm"/>
            </feature>
        </config-file>

        <source-file src="src/android/Gcm.java" target-dir="src/com/sqisland/android/gcm_client" />
        <source-file src="src/android/Constants.java" target-dir="src/com/sqisland/android/gcm_client" />
        <source-file src="src/android/GCMIntentService.java" target-dir="src/com/sqisland/android/gcm_client" />
        <source-file src="src/android/gcm.jar" target-dir="libs/" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <permission android:name=".permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name=".permission.C2D_MESSAGE" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.GET_TASKS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
            <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="." />
            </intent-filter>
            </receiver>
            <service android:name=".GCMIntentService" />
        </config-file>
    </platform>

</plugin>